/* GLOBAL STANDARD-Definition for hole index-html */

* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    background-color:rgb(192, 192, 63);
    color: white;
}

a {
    text-decoration: none;
}