/* BASIS-Class */
body {

}
h1 {
    font-size: 3em;
    color: rgb(50, 124, 189);
    font-style: italic;
}

h2 {
    font-size: 2em;
    color: white;
    margin-left: 90px;
    background-color: blue;
    padding-top: 10px;
    /* text-align: center; */
}

/* CLASS der ID-Boxen ... */

.header_grafik {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_grafik {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.main_grafik {
    background-color: blue;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.right_position{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.cover_grafik {
    margin-top: 20px;
    background-color: blue;
    display: flex;
}

.img_grafik {
    width: 150px;
    margin: 5px;
    margin-bottom: 20px;
    margin-left: 90px;
}

.heart_img_grafik {
    width: 50px;
    height: 50px;
    color: red;
    background-color: blue;
    /* margin-left: 50px; */
}

.row_likes_grafik {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;

}

.likes_grafik {
    width: 50px;
    height: 50px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 5px;
}

.position_book_details {
    background-color: blue;
}


.price_details{
    font-size: 35px;
    font-weight: bold;
    color: red;
    background-color: blue;
    margin-bottom: 5px;
}

.book_details {
    font-size: 24px;
    font-weight: bold;
    background-color: blue;
    margin-bottom: 5px;
}

.book_details_dark {
    font-size: 24px;
    color: darkgrey;
    background-color: blue;
    margin-bottom: 5px;
}

.book_details_content {
    font-size: 24px;
    font-weight: bold;
    background-color: blue;
    margin-bottom: 5px;
}

.book_details_mini {
    font-size: 20px;
    font-weight: bold;
    background-color: blue;
    margin-bottom: 5px;
}

.comment_list_grafik {

}

/* sonstige CLASS ... */